{
    "root": true,
    "extends": "airbnb",
    "rules": {
        "arrow-body-style": 0,
        "comma-dangle": [2, "never"],
        "global-require": 0,
        "indent": [2, 4],
        "newline-per-chained-call": [2, {
            "ignoreChainWithDepth": 6
        }],
        "no-console": 0,
        "no-param-reassign": [2, {
            "props": false
        }],
        "no-underscore-dangle": [2, {
            "allow": ["_id"]
        }],
        "padded-blocks": 0
    }
}
